.cards {
  width: 920px;
  margin: 0 auto;
  padding: 60px 0 0;
  display: grid;
  gap: 60px 100px;
  /* grid-auto-flow: row; */
  grid-template-areas:
    ". . ."
    ". . .";
  list-style-type: none;
}

