.header {
  /* для всех абсолютных элементов назначил родителя релетативным */
  position: relative;
  /* для единственного флекс заголовка следующие 3 правила */
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  /* отступ слева для всех элементов родителя */
  padding-left: 64px;
  background-color: var(--yagrey);
  overflow: hidden;
}
