.feynman {
  position: relative;
  padding-top: 100px;
  min-height: 890px;
  background-color: var(--yagrey);
  background-image: url(../../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
}

.feynman__title {
  margin: 0 auto;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 0 auto;
  margin-top:70px;
  text-align: center;
  width: 648px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:var(--yablu);
}
