@keyframes opacity{
  0% {
    opacity: 50%;
    color: grey;
  }
  100% {
    opacity: 80%;
    color: var(--yablu);
  }
}

.animation__hover-opacity:hover {
  animation: opacity 1s ease-out alternate infinite;
}
